global:
  registry: 279987127424.dkr.ecr.us-east-1.amazonaws.com
  imageTag: latest

imagePullSecrets:
  - name: ecr-registry-secret

ecr:
  enabled: false
  username: AWS
  password: ""

database:
  image:
    repository: scoutflow-app-db
    pullPolicy: Always
    tag: ""
  
  replicas: 1
  
  service:
    type: ClusterIP
    port: 5432
  
  persistence:
    storageClass: "standard"
    size: 10Gi
  
  env:
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: localdevpassword
    POSTGRES_DB: nba_stats
  
  resources:
    requests:
      cpu: 250m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi


backend:
  image:
    repository: scoutflow-app-backend
    pullPolicy: Always
    tag: ""
  
  replicas: 2
  
  service:
    type: ClusterIP
    port: 8000
  
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 256Mi

frontend:
  image:
    repository: scoutflow-app-frontend
    pullPolicy: Always
    tag: ""
  
  replicas: 2
  
  service:
    type: ClusterIP
    port: 80
  
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 128Mi


ingress:
  className: alb
  host: scoutflow.example.com
  albScheme: internet-facing
  tls:
    enabled: false
    secretName: ""
    certManager:
      enabled: false
      issuer: letsencrypt-prod
  annotations: {}

externalSecrets:
  enabled: false
  region: us-east-1
  secretName: ""