@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap');

body { font-family: 'Lexend', sans-serif; }

/* --- Slider Animation --- */
.slider-transition { 
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.4s ease-in-out; 
}

/* --- Safari Autofill Fixes --- */
input:focus { outline: none !important; box-shadow: none !important; }
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #192633 inset !important;
    -webkit-text-fill-color: white !important;
    background-color: #192633 !important;
    caret-color: white !important;
}

/* --- Tabs Styling --- */
.filter-tab.active { color: #137fec; }

.active-line {
    transition: all 0.3s ease;
}

/* --- Scrollbar --- */
#searchSuggestions::-webkit-scrollbar {
    width: 6px;
}
#searchSuggestions::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 10px;
}